<!DOCTYPE html>
<html>
<head>
    <title>Manage Attendees</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Manage Attendees</h1>
    <a href="/">Back to Home</a>

    <h2>Browse Attendees</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        {{#each data}}
        <tr id="attendee-row-{{this.attendeeID}}">
            <td>{{this.attendeeID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{#if this.phoneNumber}}{{this.phoneNumber}}{{else}}NULL{{/if}}</td>
            <td><a href="#" onclick="deleteAttendee('{{this.attendeeID}}')">Delete</a></td>
        </tr>
        {{/each}}
    </table>

    <h2>Add Attendee</h2>
    <form id="addAttendeeForm">
        <label>First Name:</label> <input type="text" name="firstName" required><br>
        <label>Last Name:</label> <input type="text" name="lastName" required><br>
        <label>Email:</label> <input type="email" name="email" required><br>
        <label>Phone:</label> <input type="text" name="phoneNumber"><br>
        <input type="submit" value="Add Attendee">
    </form>

    <h2>Update Attendee</h2>
    <form id="updateAttendeeForm">
        <label>Attendee ID:</label>
        <select name="attendeeID" id="attendeeID">
            {{#each data}}
            <option value="{{this.attendeeID}}" {{#if (eq this.attendeeID ../selectedAttendee.attendeeID)}}selected{{/if}}>{{this.firstName}} {{this.lastName}} (ID: {{this.attendeeID}})</option>
            {{/each}}
        </select><br>

        <label>New First Name:</label>
        <input type="text" id="newAttendeeFirstName" name="newAttendeeFirstName" value="{{selectedAttendee.firstName}}"><br>

        <label>New Last Name:</label>
        <input type="text" id="newAttendeeLastName" name="newAttendeeLastName" value="{{selectedAttendee.lastName}}"><br>

        <label>New Email:</label>
        <input type="email" id="newAttendeeEmail" name="newAttendeeEmail" value="{{selectedAttendee.email}}"><br>

        <label>New Phone:</label>
        <input type="text" id="newAttendeePhone" name="newAttendeePhone" value="{{selectedAttendee.phoneNumber}}"><br>

        <input type="submit" value="Update Attendee">
    </form>

    <h2>Delete Attendee</h2>
    <form id="deleteAttendeeForm">
        <label>Attendee ID:</label>
        <select name="attendeeID" id="deleteAttendeeSelect">
            {{#each data}}
            <option value="{{this.attendeeID}}">{{this.firstName}} {{this.lastName}} (ID: {{this.attendeeID}})</option>
            {{/each}}
        </select><br>
        <input type="submit" value="Delete Attendee">
    </form>

    <script src="/js/attendees/add-attendee.js"></script>
    <script src="/js/attendees/update-attendee.js"></script>
    <script src="/js/attendees/delete-attendee.js"></script>

</body>
</html>
